/* Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');
/* Css Variables */
:root {
  /* Fonts */
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Sora', sans-serif;
  /* Colors*/
  --bg-color: #FEF8FE;
  --white-color: #887689;
  --dark-pink-color: #2B0A2C;
  --pink-color: #8C2C8E; 
  --blue-color: #059BAC;
  --dark-blue-color: #026672;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  background: var(--bg-color);
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--pink-color);
}

::selection {
  background: var(--pink-color);
  color: var(--bg-color);
}

body {
  font-family: var(--font-primary);
  background: var(--bg-color);
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 0 0 0;
}

h1, h2{
  background: linear-gradient(90deg, var(--pink-color) 0%, var(--blue-color) 100%);
  -webkit-background-clip: text;
  color: transparent;  
}

h3, h4, h5, h6 {
  color: var(--pink-color);
}

p { 
  font-family: var(--font-secondary);
  color: var(--dark-pink-color);
}

a {
  text-decoration: none;
  color: var(--dark-pink-color);
}


.pink_text {
  color: var(--pink-color);
}

.defauld_btn {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 20px;
  background: var(--blue-color);
  font-size: 16px;
  color: #fff;
  font-family: var(--font-secondary);
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none !important;
}

.defauld_btn:hover {
  background: var(--dark-blue-color);
}
/*=-=-=-=-=-=-=-=-=- Header -=-=-=-=-=-=-=-=-=*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  position: fixed;
  width: 75%;
  background: var(--bg-color);
  top: 0;
  padding: 1rem 0 0.5rem 0;
  box-shadow: 500px 0px var(--bg-color),-500px 0 0 var(--bg-color);
  z-index: 100;
}

.header_logo {
  width: 150px;
}

.header_nav {
  display: flex;
  gap: 1.5rem;
  transition: right 0.3s ease;
}

/* Botón hamburguesa */
.hamburger_btn {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: var(--dark-pink-color);
  cursor: pointer;
  z-index: 200; /* para que quede por encima */
}

/* Para móviles */
@media (max-width: 556px) {

  .hamburger_btn {
    display: block;
  }

  .desktop_only {
    display: none; /* Oculta botón cita en móvil */
  }

  .header_nav {
    position: fixed;
    top: 0;
    right: -100%; /* oculto por defecto */
    height: 100vh;
    width: 60%;
    background: var(--bg-color);
    flex-direction: column;
    align-items: start;
    padding: 4rem 2rem;
    gap: 2rem;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.062);
    z-index: 150;
  }

  .header_nav a {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--dark-pink-color);
  }

  .header_nav.open {
    right: 0; /* cuando se abre */
  }

  .header{
    width: 100% !important;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
  }
}

/*=-=-=-=-=-=-=-=-=- Main -=-=-=-=-=-=-=-=-=*/
.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: auto;
  gap: 2rem;
  align-items: center;
  margin-top: 6rem;
}

.main h3 {
  font-size: 1.3rem;
  font-weight: 700;
}

.main h1 {
  width: 500px;
}

.main p {
  font-size: 1rem;
  line-height: 1.6rem;
  width: 500px;
}

.main_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.5rem;
}

.main_container_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_doctor_img {
  width: 400px;
}
/*=-=-=-=-=-=-=-=-=- Services -=-=-=-=-=-=-=-=-=*/
.services {
  text-align: center;
  margin: 4rem 0;
  margin-top: 6rem;
  background: #fff;
  box-shadow: 500px 0px #fff,-500px 0 0 #fff;
  padding: 3rem 2rem;
}

.services_title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.services_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1.5rem;
}

.service_card {
  background: #fff;
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.05);
  text-align: left;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1rem;
}

.service_img {
  width: 50px;
  height: 50px;
  padding: 0.5rem;
  border-radius: 50%;
  background: #0805ac13;
}

.service_card h4 {
  color: var(--dark-pink-color);
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.service_card p {
  color: var(--white-color);
  font-size: 0.9rem;
  line-height: 1.4rem;
}

.services_btn:hover {
  background: #f2f2f2;
}

.services_more {
  margin-top: 2rem;
  text-align: center;
}

.services_btn {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fff;
  color: var(--dark-pink-color);
  font-family: var(--font-secondary);
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services_extra {
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fff;
  text-align: left;
}

.services_extra ul {
  list-style: disc;
  padding-left: 1.5rem;
  color: var(--white-color);
}

.services_extra li {
  font-size: 14.4px;
  margin-bottom: 0.5rem;
  font-family: var(--font-secondary);
}

/*=-=-=-=-=-=-=-=-=- Locations Section -=-=-=-=-=-=-=-=-=*/
.locations {
  text-align: center;
  margin: 5rem 0;
  margin-top: 8rem;
  padding: 3rem 2rem;
}

.locations_title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  background: linear-gradient(90deg, var(--pink-color), var(--blue-color));
  -webkit-background-clip: text;
  color: transparent;
}

.locations_subtitle {
  color: var(--dark-pink-color);
  font-family: var(--font-secondary);
  margin-bottom: 2.5rem;
}

.locations_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}

.location_card {
  background: #fff;
  padding: 2rem 1.5rem;
  border-radius: 15px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.08);
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.location_card h3 {
  color: var(--dark-pink-color);
  font-size: 1.2rem;
  font-weight: 600;
}

.location_card h4 {
  font-size: 1rem;
  color: var(--dark-pink-color);
}

.location_card p {
  color: var(--white-color);
  font-size: 0.95rem;
  line-height: 1.4rem;
}

.location_card a {
  text-decoration: underline;
  font-weight: 600;
  font-size: 0.9rem;
}

.location_card .defauld_btn {
  margin-top: auto;
  justify-content: center;
  width: 100%;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-= Instagram =-=-=-=-=-=-=-=-=-=-=-=-=*/
.instagram {
  text-align: center;
  padding: 4rem 2rem;
  background: #fff;
  height: auto;
  box-shadow: 500px 0px #fff,-500px 0 0 #fff, 0 200px #fff, 200px 200px #fff,-200px 200px 0 #fff;
}

.instagram_btn {
  background: linear-gradient(90deg, var(--pink-color), var(--blue-color));
  font-family: var(--font-secondary);
  color: white;
  border: none;
  padding: 0.7rem 3rem;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
  transform: rotate(-2deg);
}

.instagram_title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.instagram_subtitle {
  font-size: 1rem;
  color: var(--white-color);
  margin-bottom: 2rem;
}

.instagram_subtitle span {
  color: var(--pink-color);
  font-weight: 500;
}

.instagram_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  justify-content: center;
  align-items: start;
}

.insta_post iframe {
  width: 100%;
  height: 400px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
/*=-=-=-=-=-=-=-=-=- YouTube Section -=-=-=-=-=-=-=-=-=*/
.youtube {
  text-align: center;
  padding: 4rem 2rem;
  background: #fff;
  box-shadow: 500px 0px #fff,-500px 0 0 #fff, 0 500px #fff, 500px 500px #fff,-500px 500px 0 #fff;
}

.youtube_btn {
  background: linear-gradient(90deg, var(--pink-color), var(--blue-color));
  font-family: var(--font-secondary);
  color: white;
  border: none;
  padding: 0.7rem 3rem;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
  transform: rotate(-2deg);
}

.youtube_title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.youtube_subtitle {
  font-size: 1rem;
  color: var(--white-color);
  margin-bottom: 2rem;
  margin: 0 auto 2rem auto;
}

.youtube_container {
  display: flex;
  justify-content: center;
}

.youtube_container iframe {
  width: 90%;
  max-width: 800px;
  height: 450px;
  border: none;
  border-radius: 12px;
}


/*=-=-=-=-=-=-=-=-=- Footer -=-=-=-=-=-=-=-=-=*/
.footer {
  background: var(--blue-color);
  padding: 4rem 2rem;
  color: white;
  margin-top: 4rem;
  box-shadow: 500px 0px var(--blue-color),-500px 0 0 var(--blue-color);
}

.footer_content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  align-items: start;
}

.footer_logo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer_img {
  width: 160px;
}

.footer_socials {
  display: flex;
  gap: 1rem;
}

.footer_socials a {
  font-size: 1.5rem;
  color: #a7e3eb;
  transition: color 0.3s ease;
  background: #026672;
  padding: 0.5rem 0.8rem;
  border-radius: 50%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_socials a:hover {
  color: white;
}

.footer_hours h4,
.footer_locations h4 {
  margin-bottom: 0.8rem;
  font-size: 1.1rem;
  color: #fff;
}

.footer_hours p,
.footer_locations a {
  color: #d9f5f7;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

.footer_locations a {
  display: block;
  transition: color 0.3s ease;
}

.footer_locations a:hover {
  color: white;
}

.yt {
  font-size: 1.4rem;
}

/*=-=-=-=-=-=-=-=-=- Media Queries -=-=-=-=-=-=-=-=-=*/
@media (max-width: 805px) {
  body,
  .header {
    width: 90%;
  }
}

@media (max-width: 1109px) {
  .main {
    margin-top: 7rem;
    text-align: center;
    grid-template-columns: 1fr;
  }

  .main_text {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
}

@media (max-width: 728px) {
  .youtube_container iframe {
    width: 100%;
  }
}


@media (max-width: 700px) {
  .header .defauld_btn {
    display: none;
  }
}

@media (max-width: 556px) {
  body{
    width: 100%;
    padding: 1rem 1rem 0 1rem;
  }

  .main {
    margin-top: 8rem;
  }
}

@media (max-width: 532px) {
  body {
    padding: 1rem 0.5rem 0 0.5rem;
  }
}

@media (max-width: 516px) {
  body{
    padding: 1rem 0.2rem 0 0.2rem;
  }

  .header{
    justify-content: space-between;
    padding: 1rem 2rem 0.5rem 2rem;
  }

  .main h1, .main p {
    width: 100%;
  }
}

@media (max-width: 506px) {
  .footer {
    box-shadow: 200px 0px var(--blue-color),-200px 0 0 var(--blue-color);
  }

  .youtube {
    box-shadow: 200px 0px #fff,-200px 0 0 #fff, 0 500px #fff, 200px 500px #fff,-200px 500px 0 #fff;
  }

  .instagram {
    box-shadow: 200px 0px #fff,-200px 0 0 #fff, 0 200px #fff, 200px 200px #fff,-200px 200px 0 #fff;
  }

  .services {
    box-shadow: 200px 0px #fff,-200px 0 0 #fff;
  }
}

@media (max-width: 472px) {
  
  body {
    padding: 1rem 1rem 0 1rem;
  }

  .main_text, .youtube{
    justify-content: start;
    justify-content: start;
    text-align: start;
    align-items: start;
    padding: 0 1.5rem 0 1.5rem;
  }

  .services_title{
    padding: 2rem 1.5rem 0 1rem;
  }

  .services, .locations{
    padding: 1rem 1rem;
  }

  .youtube{
    margin-top: 4rem;
  }

  .locations, .instagram, .services_title{
    text-align: start;
  }

  .services_btn {
    font-size: 16px;
  }
}

@media (max-width: 466px) {
  .services, .locations{
    padding: 0;
  }
}

@media (max-width: 433px) {
  .main_text h1{
    font-size: 30px;
  }
}

